<style>
    
    .box h3 {
        color: black;
    }
    
    .footer {
        background-color: #83BD75;
        padding-left: 5%;
        padding-right: 5%;
        text-transform: capitalize;
        border-top: .5px solid grey;
    }
    
    .footer .box-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(2%, .5fr));
        gap: .2%;
    }
    
    .footer .box-container .box h3 {
        font-size: x-large;
        color: #370665;
        padding: 2%;
    }
    
    .footer .box-container .box .links {
        display: block;
        font-size: large;
        color: #370665;
    }
    
    .footer .box-container .box .links i {
        padding-right: 0.5%;
    }
    
    .footer .box-container .box .links:hover i {
        padding-right: 5%;
    }
    
    .footer .box-container .box p {
        line-height: 1.8;
        font-size: x-large;
        color: #370665;
        padding: 2%;
    }
    
    .footer .box-container .box .share a {
        height: 15%;
        width: 15%;
        line-height: 15%;
        font-size: xx-large;
        color: #370665;
        margin-right: 0.2%;
        background: none;
        text-align: center;
    }
    
    .footer .box-container .box .share a:hover {
        background: inherit;
        color: #fff;
    }
    
    .footer .box-container .box .email {
        width: 100%;
        margin-bottom: 2%;
        padding: 2%;
        background: #eee;
        font-size: larger;
        color: #370665;
        text-transform: none;
    }
    
    #mail {
        font-size: large;
    }
    
    .footer {
        text-align: center;
        margin-top: .5%;
        padding: 1%;
        padding-top: .5%;
        font-size: x-large;
        font-weight: 900;
        color: var(--black);
        border-top: 3px solid rgb(160, 156, 156);
    }
    
    @media (max-width: 450px) {
        .footer {
            text-align: center;
        }
    }
</style>

<section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>quick links</h3>
            <div class="share">
                <a href="" target="_blank" class="fab fa-instagram"></a>
                <a href="" target="_blank" class="fab fa-youtube"></a>
                <a href="" target="_blank" class="fab fa-twitter"></a>
            </div>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#" class="links"> <i class="fas fa-phone"></i> +254740030111</a>
            <a href="#" class="links" id="mail" style="font-size:large;"> <i class="fas fa-envelope"></i>healthwise@gmail.com </a>
            <a href="#" class="links"> <i class="fas fa-map-marker-alt"></i> juja, kenya. </a>
        </div>

        <div class="box">
            <h3> Quality Products</h3>
            

            <a href="#home" class="links">home </a>
            <a href="#features" class="links"> features </a>
            <a href="#products" class="links">  products </a>
            <a href="#categories" class="links"> categories </a>
            <a href="#review" class="links"> review </a>
            <a href="#blogs" class="links">blogs </a>
        </div>

        <div class="box">
            <h3>newsletter</h3>
            <p style="font-size:large;">subscribe for latest updates</p>
            <input type="email" placeholder="Your Email" class="email">
            <button class="btn btn-outline-success" type="submit" style="border: 2px solid black; color:black;">Subscribe</button>

        </div>

    </div>
</section>